<h1>Add a Recipe to <%= @category.name %></h1>

<div class="form-new">
  <%= simple_form_for [@category, @bookmark] do |f| %>
    <div class="form-group">
      <%= f.association :recipe, collection: Recipe.all, label: "Select Recipe", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.input :comment, label: "Comment", as: :text %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Add Recipe', class: 'btn btn-primary' %>
      <%= link_to 'Back', category_path(@category), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
