<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<p>Rating: <%= @recipe.rating %>/10</p>

<% if @recipe.photo.attached? %>
  <%= image_tag @recipe.photo, class: 'recipe-photo' %>
<% else %>
  <%= image_tag 'default_recipe.jpg', alt: 'Default Recipe Image', class: 'recipe-photo' %>
<% end %>
