<!-- Banner -->
<div class="banner" style="background-image: url('<%= @category.photo.attached? ? url_for(@category.photo) : asset_path('kitchentopbanner.jpg') %>');">
  <h1><%= @category.name %></h1>
</div>



<!-- Recipes Section -->
<div class="list-header">
  <h2>Recipes in this category</h2>
  <%= link_to 'Add a New Recipe', new_category_bookmark_path(@category), class: 'btn btn-primary' %>
</div>

<div class="cards">
  <% @category.bookmarks.each do |bookmark| %>
   <% image_url = bookmark.recipe.image_url.present? ? bookmark.recipe.image_url : asset_path('default_recipe.jpg') %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url %>)">

      <p>Rating: <%= bookmark.recipe.rating %> / 10</p>
      <%= button_to 'Delete', category_bookmark_path(@category, bookmark), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back to All Categories', categories_path %> |
<%= link_to 'Home', root_path %>
